server-addr: :8000
openai-api-key: YourOpenAIApiKey
openai-model: gpt-3.5-turbo
openai-max-token: 2048
openai-temperature: 0.7
api-sign-enable: true
scenes: [lark, tg, wx, qq, web]
scene-delete-texts:
  lark: _user_1
client-id-keys:
  test001: test001clientidkey
  test002: test002clientidkey
lark-bots:
  - url-path: path1
    app-id: AppId1
    app-name: AppName1
    app-secret: AppSecret1
    verification-token: verification-token1
    encrypt-key: encrypt-key
    lark-host: https://open.feishu.cn
  - url-path: path1
    app-id: AppId2
    app-name: AppName2
    app-secret: AppSecret2
    verification-token: verification-token2
    encrypt-key: encrypt-key
    lark-host: https://open.feishu.cn
